<!DOCTYPE html>
<html lang="en" ng-app="blog">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/blog-post.css" rel="stylesheet">

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="main-controller">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div  class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{title}}</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Deblog</a>
                </li>
                <li>
                    <a href="/">Footprint</a>
                </li>
                <li>
                    <a href="/">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1>{{ blog.blog_subject }}</h1>
            <!-- Author -->
            <p class="lead">
                create by <a href="#">Hutt</a>
            </p>
            <hr>
            <!-- Date/Time -->
            <p>
                <span class="glyphicon glyphicon-time"></span>
                <span ng-bind="blog.blog_reg_date | date:'yyyy.MM.dd hh:mm'"></span>
            </p>
            <hr>
            <!-- Preview Image -->
            <div id="main" ng-bind-html="blogContent"></div>
            <hr>
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" ng-model="reply.content" rows="3"></textarea>
                    </div>
                    <button type="submit" ng-click="doWriteReply();" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <!-- Posted Comments -->

            <!-- Comment -->
            <div class="media" ng-repeat="reply in replies">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <span class="writer">{{reply.reply_member_name}}</span>
                        <small ng-bind="reply.reply_reg_date | date: 'yyyy.MM.dd a mm:hh'"></small>
                    </h4>
                    {{ reply.reply_content }}
                    <!-- Nested Comment -->
                    <!--<div class="media">-->
                        <!--<a class="pull-left" href="#">-->
                            <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
                        <!--</a>-->
                        <!--<div class="media-body">-->
                            <!--<h4 class="media-heading">Nested Start Bootstrap-->
                                <!--<small>August 25, 2014 at 9:30 PM</small>-->
                            <!--</h4>-->
                            <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                        <!--</div>-->
                    <!--</div>-->
                    <!-- End Nested Comment -->
                </div>
            </div>
            <hr>
            <div class="list-group">
                <a class="list-group-item" ng-click="loadBlog(preview._id)" ng-repeat="preview in previews" style="cursor: pointer;">
                    <h4 class="list-group-item-heading">{{preview.blog_subject}}</h4>
                </a>
            </div>
            <hr ng-if="blogcount > 1">
            <div class="btn-group" role="group" ng-if="blogcount > 1" style="text-align: center">
                <button type="button" ng-click="reloadBlog(selectedCategory, pageNum-1)" class="btn btn-default">이전</button>
                <button type="button" ng-click="reloadBlog(selectedCategory, pageNum+1)"class="btn btn-default">다음</button>
            </div>
        </div>


        <!-- SIDE --->
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Categories</h4>
                <ul class="list-group">
                    <li ng-class="!selectedCategory ? 'active' : ''"
                            class="list-group-item" style="cursor: pointer;" ng-click="reloadBlog()">
                        <span class="badge">26</span>
                        전체
                    </li>
                    <li ng-class="selectedCategory == item.idcategory ? 'active' : ''" ng-repeat="item in categories" ng-click="reloadBlog(item.idcategory)" style="cursor: pointer;" class="list-group-item">
                        <span class="badge">14</span> {{item.cat_name}}
                    </li>
                </ul>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Tags</h4>
                <p>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" style="margin:1px" class="btn btn-default">Java</button>
                    <button type="button" style="margin:1px" class="btn btn-default">JavaScript</button>
                    <button type="button" style="margin:1px" class="btn btn-default">Mac</button>

                    <button type="button" style="margin:1px" class="btn btn-default">Developer</button>
                    <button type="button" style="margin:1px" class="btn btn-default">Interective</button>
                    <button type="button" style="margin:1px" class="btn btn-default">감성개발자</button>
                    <button type="button" style="margin:1px" class="btn btn-default">신휴창</button>
                    <button type="button" style="margin:1px" class="btn btn-default">짱</button>
                </div>
                </p>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
<!-- jQuery -->
</body>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/controllers/controller.js"></script>
<script src="javascripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

</html>
