<html>
<head>
    <title>Hustory - <%=error.status + " "+ message %></title>
</head>
<body>
    <% if (config.mode == 'development') { %>
        <pre><%=error.stack %></pre>
    <% } else { %>
        <div>Hustory - <%=error.status + " "+ message %></div>
    <% }%>
</body>
</html>
