<!DOCTYPE html>
<html lang="en" ng-app="blog-main">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/blog-post.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="main-controller">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div  class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{title}}</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Deblog</a>
                </li>
                <li>
                    <a href="#">Footprint</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="page-header">
                {{ subtitle }}
                <small> {{ description }} </small>
            </h1>

            <!-- First Blog Post -->

            <div ng-repeat="blog in blogs">
                <h2>
                    <a href="#">{{ blog.blog_subject }}</a>
                </h2>
                <p class="lead">
                    by <a href="">Hutt</a>
                </p>
                <p><span class="glyphicon glyphicon-time"  ng-bind="blog.blog_reg_date | date:'yyyy.MM.dd hh:mm'"></span> </p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p ng-bind-html="convertHtml(blog.board_content)">
                </p>

                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
            </div>


            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Categories</h4>
                <ul class="list-group">
                    <li ng-class="!selectedCategory ? 'active' : ''"
                        class="list-group-item" style="cursor: pointer;" ng-click="reloadBlog()">
                        <span class="badge">26</span>
                        전체
                    </li>
                    <li ng-class="selectedCategory == item.idcategory ? 'active' : ''" ng-repeat="item in categories" ng-click="reloadBlog(item.idcategory)" style="cursor: pointer;" class="list-group-item">
                        <span class="badge">14</span> {{item.cat_name}}
                    </li>
                </ul>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Tags</h4>
                <p>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" style="margin:1px" class="btn btn-default">Java</button>
                    <button type="button" style="margin:1px" class="btn btn-default">JavaScript</button>
                    <button type="button" style="margin:1px" class="btn btn-default">Mac</button>

                    <button type="button" style="margin:1px" class="btn btn-default">Developer</button>
                    <button type="button" style="margin:1px" class="btn btn-default">Interective</button>
                    <button type="button" style="margin:1px" class="btn btn-default">감성개발자</button>
                    <button type="button" style="margin:1px" class="btn btn-default">신휴창</button>
                    <button type="button" style="margin:1px" class="btn btn-default">짱</button>
                </div>
                </p>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
</body>
<script src="javascripts/angular.min.js"></script>
<script src="javascripts/controllers/controller.js"></script>
<script src="javascripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

</html>
