<!DOCTYPE html>
<html lang="en" ng-app="blog_post">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="블로그 작성 페이지">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="stylesheets/blog-post.css" rel="stylesheet">
    <link href="javascripts/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="javascripts/bower_components/summernote/dist/summernote.css" rel="stylesheet">

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="post-controller">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{title}}</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Deblog</a>
                </li>
                <li>
                    <a href="/">Footprint</a>
                </li>
                <li>
                    <a href="/">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <p>
                <span class="glyphicon glyphicon-time"></span>
                <span ng-bind="now | date:'yyyy.MM.dd a hh:mm'"></span>
            </p>

            <input class="input-xlarge" type="text" style="width: 100%;" ng-model="blog.blog_subject">
            <hr>
            <h1>{{ blog.blog_subject }}</h1>
            <!-- postArea -->
            <div id="postArea">
                <summernote
                    lang="ko-KR"
                    editable="editable"
                    editor="editor"
                    config="options"
                    on-image-upload="imageUpload(files)"
                    ng-model="blog.board_content"></summernote>
            </div>
            <hr>
            <button type="button" class="btn btn-default" ng-click="write();">등록</button>
        </div>


        <!-- SIDE --->
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Blog Search Well -->
            <div class="well">
                <h4>Search</h4>

                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Categories</h4>
                <ul class="list-group">
                    <% categories.forEach(function(attr, index){%>
                        <li ng-click="reloadBlog(<%=attr.idcategory%>)" style="cursor: pointer;" class="list-group-item">
                            <span class="badge">14</span> <%= attr.cat_name%>
                        </li>
                    <% });%>

                </ul>
                <!-- /.row -->
            </div>

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Tags</h4>

                <p>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" style="margin:1px" class="btn btn-default">Java</button>
                    <button type="button" style="margin:1px" class="btn btn-default">JavaScript</button>
                    <button type="button" style="margin:1px" class="btn btn-default">Mac</button>

                    <button type="button" style="margin:1px" class="btn btn-default">Developer</button>
                    <button type="button" style="margin:1px" class="btn btn-default">Interective</button>
                    <button type="button" style="margin:1px" class="btn btn-default">감성개발자</button>
                    <button type="button" style="margin:1px" class="btn btn-default">신휴창</button>
                    <button type="button" style="margin:1px" class="btn btn-default">짱</button>
                </div>
                </p>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
<!-- jQuery -->
</body>


<script src="javascripts/jquery.js"></script>
<script src="javascripts/bootstrap.min.js"></script>

<script src="javascripts/angular.min.js"></script>
<script src="javascripts/controllers/controller.js"></script>

<script src="javascripts/bower_components/summernote/dist/summernote.min.js"></script>
<script src="javascripts/bower_components/summernote/lang/summernote-ko-KR.js"></script>
<script src="javascripts/bower_components/angular-summernote/dist/angular-summernote.min.js"></script>
</html>
